body{
	font-family: Florence, cursive;
  background-image: url(img/back.jpg);
   /* в таком варианте картинка смаштабируется так, чтобы занять все доступное пространство блока, 
   при этом если нужно она обрежется */
  background-size: cover; 
   /* это нужно, чтобы центр картинки был в центре блока, можно регулировать соответственно меняя проценты */
/*background-position: 50% 50%; */
  /* в таком варианте картинка смаштабируется под размеры блока: если что-то не влезает, то будет дырка */
/*background-size: 100%; */
     /* чтобы картинка не замостила собой все доступное пространство блока, т.е. не должна повторяться */
      /*   background-repeat: no-repeat; */
}

a{
  color: #CB3AF8;
  font-style: italic;
  font-size: 15px;
}

h1{
	color: red;
}

h3{
	color:#007e7e;
}

/* Красная строка для каждого абзаца*/
p{
    color: #552355;
    text-indent: 20px;
}

/*Первая буква подвала черного цвета, курсивом и 25 пикселей*/
#footer:first-letter {
    font-style: italic;
    color: black;
    font-size: 25px;
}

/*Подвал черного цвета, курсивом*/
#footer{
  color: black;
  font-style: italic;
}

/*картинка при прокрутке фиксируется в правом углу*/
#top{
    position: fixed;
    right: 10px;
}

/*Скругленные углы всех картинок*/
img{
    border-radius: 15px;
}

/*картинка увеличивается при наведенении курсором*/
.big:hover img{
    height: 230px;
    width: 340px;
}

/*при наведении на ссылку подчеркивание исчезает*/
a:hover{
    text-decoration: none;
}

p:first-letter{
  color: red; /* Красный цвет первой буквы */
  font-size: 30px;  /* Увеличен размер первой буквы */
}