body{
	font-family: Florence, cursive;
  background-image: url(img/sport.jpg);
  background-size: cover; 
  background-position: 60% 50%;
  text-align: center;
}

a{
  color: #CB3AF8;
  font-style: italic;
  font-size: 15px;
}

h1{
	color: red;
  font-size: 50px;
}

h3{
	color:#007e7e;
  font-size: 30px;
}

/* Красная строка для каждого абзаца*/
p{
    color: #552355;
    text-indent: 20px;
}

#footer{
    font-style: italic;
    color: black;
}

/*картинка при прокрутке фиксируется в правом углу*/
#top{
    position: fixed;
    right: 10px;
}

#menu li{
  display: inline;
  margin: 10px;
}

img{
    border-radius: 15px;
}

/*при наведении на ссылку подчеркивание исчезает*/
a:hover{
    text-decoration: none;
}

/*Первая буква абзаца красного цвета и большого размера*/
p:first-letter{
  color: red;
  font-size: 30px;
}

/*Первая буква подвала черного цвета, курсивом и 25 пикселей*/
#footer:first-letter {
    font-style: italic;
    color: black;
    font-size: 25px;
}

div{
  border: 1px inset #B7B3B3;
}

#header img{
  height: 80px;
  float: left;
}

#header{
  height: 80px;
}

#menu{
  height: 30px; 
  padding: 10px;
  clear: both;
}

#leftcontent{
  float: left;
  width: 20%;
  min-height: 800px;
  border-top: inherit;
  border-bottom: inherit;
}

#center{
  overflow: hidden;
  min-height: 500px;
  width: 60%;
  padding: 10px;
  border: none;
  text-align: left;
}

#center img{
  padding: 15px;
  padding-top: 100px;
}

#center h1{
  text-align: center;
}

#leftcontent img{
  width: 95%;
  height: 400px;
  padding: 10px;
}

#footer{
  clear: both;
  height: 50px;
}

