body{
	font-family: Florence, cursive;
  background-image: url(img/waterback.jpg);
  background-size: cover; 
  background-position: 0% 50%;
}

a{
  color: #CB3AF8;
  font-style: italic;
  font-size: 15px;
}

h1{
	color: red;
}

h3{
	color:#007e7e;
  font-size: 30px;
  text-shadow: 1px 1px 2px black, 0 0 1em #D37EF1;
}

/*тень текста, чтобы хорошо было видно на фоне картинки
  Красная строка для каждого абзаца*/
p{
    color: #F7F8EC;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    text-indent: 20px;
}

#footer{
    font-style: italic;
    color: black;
}

/*картинка при прокрутке фиксируется в правом углу*/
#top{
    position: fixed;
    right: 10px;
}

img{
    border-radius: 15px;
}

/*при наведении на ссылку подчеркивание исчезает*/
a:hover{
    text-decoration: none;
}

/*Первая буква абзаца красного цвета и большого размера*/
p:first-letter{
  color: red;
  font-size: 30px;
}

/*Первая буква подвала черного цвета, курсивом и 25 пикселей*/
#footer:first-letter {
    font-style: italic;
    color: black;
    font-size: 25px;
}
